*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

#banner{
    color: white;
    font-size: 25px;
}
#clock{
    height: 50px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}
